header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: #04AA6D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    color: white;
}